@charset "UTF-8";

html {
	background-color: lightskyblue;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: black;
	font-size: 10px;
}

body {
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}

header {
	font-size: 1.8rem;
}

/* STEP 1: Float the HEADER IMG to the left */
header img {
	float: left;
}

header a {
	text-decoration: none;
}

/* STEP 2: Set the text-align for both the HEADER H1 and the HEADER H2 to right */
header h1,
header h2 {
	text-align: right;
}

/* STEP 3a: Reduce the margin-bottom of the HEADER H1 to zero */
header h1 {
	margin-bottom: 0;
}

/* STEP 3b: The HEADER H2 has a margin-top by default — set it to zero */
header h2 {
	margin-top: 0;
	text-transform: uppercase;
}

/* STEP 4d: Remove UL left padding */
header nav ul {
	padding-left: 0;
}

/* STEP 4a: Add dashed red outline so we can see the LI boxes */
/* STEP 4b: Make the LI inline-block */
/* STEP 4c: Add margin-right of .5em */
/* STEP 4e: COMMENT OUT the red border afterward */
header nav li {
	/* border: 1px dashed red; */ /* ← Step 4e comment out! */
	display: inline-block;
	margin-right: 0.5em;
}

main {
	font-size: 1.8rem;
	line-height: 1.5;
	text-align: justify;
	background-color: white;

	/* Arrange SECTION and ASIDE side-by-side */
	display: flex;
	flex-direction: row;
}

/* STEP 5a: Add dotted hotpink border */
/* STEP 5b: Add padding */
/* STEP 5d: COMMENT OUT border afterward */
main section {
	/* border: 1px dotted hotpink; */  /* Step 5d */
	padding: 1em;
	width: 60%;
}

main section time {
	font-style: italic;
}

/* STEP 5c: Add colored border + padding-top/right/bottom */
/* STEP 5d: COMMENT OUT border afterward */
main aside {
	/* border: 1px dotted orange; */  /* Step 5d */
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	width: 40%;
}

/* STEP 7a + 7b:
   Target ONLY images inside ASIDE where alt ENDS WITH "block"
   Then move them left using position + left
*/
aside img[alt$="block"] {
	position: relative;
	left: -3rem;
}

.new-feature {
	padding-left: 25px;
	background-image: url("../images/new.png");
	background-repeat: no-repeat;
	background-position: top left;
}

#emailAddress {
	font-weight: bold;
}

[rel="external"] {
	padding-right: 20px;
	background-image: url("../images/extlink.png");
	background-repeat: no-repeat;
	background-position: top right;
}
/* Thank you to 'pnx' at https://openclipart.org/detail/202731/external-link-icon for the very cool external link icon */

main a {
	text-decoration: none;
	color: lightskyblue;
	font-weight: bold;
}

main a:hover {
	text-decoration: underline;
	color: orange;
}

blockquote::first-letter {
	font-size: 2em;
}

/* STEP 6: Add margin-top to FOOTER of 2rem */
footer {
	margin-top: 2rem;
	font-size: 1.6rem;
}

footer p {
	text-align: right;
}

section > p {
	text-indent: 2em;
}

h1, h2, footer {
	color: white;
}
