@charset "UTF-8";

/* STEP 2: TYPE/ELEMENT Selector - Create a selector that targets the HTML element, with a rule that sets the background-color to 'lightskyblue' */
html {
    background-color: lightskyblue;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0 auto;
    min-width: 768px;
    max-width: 1024px;
}

/* Arrange the SECTION and the ASIDE elements side-by-side in columns */
main {
    display: flex;
    flex-direction: row;
    background-color: white;
}

/* Make the SECTION column a bit wider than the ASIDE column */
main section {
    width: 60%;
}
main aside {
    width: 40%;
}

/* STEP 3: CLASS Selector - .new-feature (add NEW icon) */
.new-feature {
    display: inline-block;
    padding-right: 25px;
    background-image: url("../images/new.png");
    background-repeat: no-repeat;
    background-position: top right;
}

/* STEP 4: ID Selector - #emailAddress bold */
#emailAddress {
    font-weight: bold;
}

/* STEP 5: ATTRIBUTE Selector - a[rel="external"] */
a[rel="external"] {
    padding-left: 20px;
    background-image: url("../images/new.png");
    background-repeat: no-repeat;
    background-position: top left;
}

/* Links in main */
main a {
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}

/* STEP 6: PSEUDOCLASS Selector - main a:hover */
main a:hover {
    text-decoration: underline;
    color: orange;
}

/* STEP 7: PSEUDOELEMENT Selector - blockquote::first-letter */
blockquote::first-letter {
    font-size: 2em;
}

/* STEP 8: DESCENDANT Selector - footer p */
footer p {
    text-align: right;
}

/* STEP 9: CHILD Selector - section > p */
section > p {
    text-indent: 3em;
}

/* STEP 10: GROUPED Selector - H1, H2, FOOTER all white text */
h1, h2, footer {
    color: white;
}
